.profile {
    &__banner {
        height: 400px;
        overflow: hidden;
        background-size: contain !important;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 0;
    }

    &__avatar {
        margin-top: 220px;
        position: relative;
        z-index: 1;
    }

    &__btn {
        border-radius: 15px;
        background-color: transparent;
        transition-property: background-color;
        transition-duration: 0.3s;
        padding: 15px;

        cursor: pointer;

        &:hover {
            background-color: #545b62;
            border-radius: 15px !important;
            border: 0px !important;
        }

        &.active {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-bottom: 3px solid #8dbbf7;
            color: #8dbbf7;
        }
    }

    &__info {
        & .row {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    &__hobby {
        border: 1px solid #2f3031;
        background-color: #242526;
        margin: 4px;
        padding: 14px;
        border-radius: 100px;
        display: inline-block;
        cursor: pointer;

        &:hover {
            background-color: #4e4f50;
        }
    }

    &__new-post-btn {
        cursor: pointer;
        background-color: #3a3b3c;
        color: #acafb4;

        &:hover {
            background-color: #4e4f50;
        }
    }
}

.new-post-modal {
    &__body {
        &__input-content {
            font-size: 24px;
            border: none;

            &:focus {
                background-color: #242526;
                color: white;
                box-shadow: none;
            }
        }
    }
}
