.user-message {
    cursor: pointer;

    &:hover {
        background-color: #494f54;
    }

    &--unseen {
        .user-message__content {
            color: #77aff7;
            font-weight: bold;
        }
    }

    &__user-name {
        color: white;
    }
}
