body {
    font-family: "Montserrat", "Roboto", sans-serif;
}

.app-container {
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(255, 171, 115, 0.73)),
        url("../img/index-bg.jpg") fixed;
    background-size: cover;
    height: 100vh;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.btn-login {
    background: linear-gradient(to right, #ffab73 50%, #ffaec0);
    color: black;
    border: 0.5px solid gray;
}

.btn-register {
    background: linear-gradient(to right, #ffd384 50%, #fff9b0);
    color: black;
    border: 0.5px solid gray;
}

.mt-15 {
    margin-top: 15px;
}

.login-container {
    background: rgba(255, 255, 255, 0.3);
    padding: 30px;
}

.a-like {
    cursor: pointer;
}

.a-like:hover {
    text-decoration: underline;
    font-weight: bold;
}

.text-black {
    color: black;
}

.text-error {
    color: red;
}
