@import "~bootstrap/scss/bootstrap";
@import "~react-datepicker/src/stylesheets/datepicker.scss";
@import "~css.gg/icons/all.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

body {
    font-family: "Montserrat", "Roboto", sans-serif;
}

.gg {
    display: inline-block;
}

.app-container {
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.9)), url("../img/index-bg.jpg") fixed;
    height: 100vh;
    overflow-y: auto;
}

.full {
    &-height {
        height: 100%;
    }

    &-width {
        width: 100%;
    }
}

.btn {
    &-login {
        background: linear-gradient(to right, #ffab73 50%, #ffaec0);
        color: black;
        border: 0.5px solid gray;
        &:hover {
            background: linear-gradient(to left, #ffab73 50%, #ffaec0);
            color: black;
            text-decoration: underline;
        }
    }

    &-register {
        background: linear-gradient(to right, #ffd384 50%, #fff9b0);
        color: black;
        border: 0.5px solid gray;
        &:hover {
            background: linear-gradient(to left, #ffd384 50%, #fff9b0);
            color: black;
            text-decoration: underline;
        }
        &:disabled {
            background: gray;
            color: black;
        }
    }
}

.m {
    &t {
        &-15 {
            margin-top: 15px;
        }
        &-30 {
            margin-top: 30px;
        }
    }
    &b {
        &-15 {
            margin-bottom: 15px;
        }
    }
}

.p {
    &b {
        &-15 {
            padding-bottom: 15px;
        }
    }

    &t {
        &-15 {
            padding-top: 15px;
        }
    }
    &b {
        &-10 {
            padding-bottom: 10px;
        }
    }

    &t {
        &-10 {
            padding-top: 10px;
        }
    }
}

.container--p-30 {
    padding: 30px;
}

.term-of-use {
    &__container {
        background: white;
        height: 70vh;
    }

    &__bg {
        background: rgba(135, 135, 135, 0.4);
        overflow-y: scroll;
        border: 1px solid black;
        margin: 10px;
        height: 50vh;
    }
}

.text {
    &-black {
        color: black;
    }

    &-error {
        color: #c22932;
    }

    &-success {
        color: #8bc140;
    }

    &-info {
        color: #00a4e7;
    }

    &-pink {
        color: pink;
    }
    &-bold {
        font-weight: bold;
    }
}

.border {
    &--round {
        border-radius: 10px;
    }
}

.modal {
    &-90w {
        width: 90%;
        max-width: none !important;
    }

    &-100w {
        width: 100%;
        max-width: none !important;
    }

    &-80h {
        height: 80vh;
        & .modal-content {
            height: 80vh;
        }
    }
}

.br {
    &-10 {
        border-radius: 10px;
    }

    &-50 {
        border-radius: 50px;
    }
}

.bg {
    &-facebook--dark {
        background-color: #242526;
        color: white;
    }

    &-facebook--darker {
        background-color: #18191a;
        color: white;
    }
}

.clickable {
    cursor: pointer;

    &__text {
        &:hover {
            text-decoration: underline;
            font-weight: bold;
        }
    }

    &:hover {
        font-weight: bold;
    }
}

.display {
    &--table {
        display: table;
        &-cell {
            display: table-cell;
        }
    }

    &--flex {
        display: flex;
    }

    &--inherit {
        display: inherit;
    }
}

.vertical-align {
    &-middle {
        vertical-align: middle;
    }
}

.avatar {
    border: 5px solid #6c757d;
    cursor: pointer;
    transition-property: border-color;
    transition-duration: 0.3s;

    &:hover {
        border: 5px solid #e8e8e8 !important;
    }
}

.bg-img {
    background-size: cover !important;
}
